aiosmtplib
alembic
anyio
APScheduler
asgiref
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cryptography
dnspython
ecdsa
email-validator
fastapi
fastapi-mail
greenlet
gunicorn
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
MarkupSafe
orjson
passlib
psycopg2-binary
pyasn1
pycparser
pydantic
python-dotenv
python-jose
python-multipart
pytz
pytz-deprecation-shim
PyYAML
requests
rfc3986
rsa
simplejson
six
sniffio
SQLAlchemy
starlette
typing_extensions
tzdata
tzlocal 
ujson
urllib3
uvicorn
uvloop
watchgod
websockets
