{% include 'base.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">Accepted formats: pdf, jpeg, png, tiff</div>
    <div class="card-body">
      <form method="POST" action="/receipts/add-receipt" enctype="multipart/form-data">

        <div class="form-group">
          <p><input class="form-control" type="file" name="file" /></p>
          <p><input class="btn btn-primary" type="submit" value="Upload" /></p>
        </div>

      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Add Receipt Manually</div>
    <div class="card-body">

      <!-- {% if msg %}
        <div class="alert alert-danger" role="alert">
          {{msg}}
        </div>
        {% endif %} -->

      <form method="POST" action="/receipts/add-receipt-manually">
        <div class="form-group">
          <input type="text" class="form-control" name="merchant_name" placeholder="Merchant Name" required />
        </div>

        <div class="form-group">
          <input type="number" min="0.01" step="0.01" class="form-control" name="total" placeholder="Total" required />
        </div>

        <div class="form-group">
          <input type="number" min="0.01" step="0.01" class="form-control" name="tax" placeholder="Tax" required />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="merchant_address" placeholder="Merchant Address" required />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="items_services" placeholder="Items / Description" required />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="transaction_number" placeholder="Transaction #" />
        </div>

        <!-- <div style="margin-left:12px;" class="form-group">
          Cash?<input style="margin-left:20px;" type="radio" id="cash" name="cash" value="True">
        </div> -->

        <div class="form-group">
          <input type="text" class="form-control" name="card_last_4" placeholder="Card Last 4" minlength="4"
            maxlength="4" />
        </div>

        <div class="form-group">
          <input type="url" class="form-control" name="merchant_website" placeholder="Merchant Website" />
        </div>

        <div class="form-group">
          <input type="date" class="form-control" name="date" placeholder="Date" required />
        </div>

        <div class="form-group">
          <input type="time" class="form-control" name="time" placeholder="Time" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>