{% include 'base.html' %}

<div class="container">
    <div style="max-width:450px;margin:auto;" class="card">
        <div class="card-header">Forgot Password</div>
        <div class="card-body">
            {% if msg %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% endif %}

            <form method="POST" action="/auth/forgot-password">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control py-2 my-2" name="email" placeholder="Email" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary py-2 my-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>