{% include 'base.html' %}

<div class="container">
  <div class="card text-center">
    <a class="card-header" href="calendar">Calendar View</a>
    <div class="card-body">
      <div>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Priority</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          {% for todo in todos %}
          {% if todo.complete == False %}
          <tr class="pointer">

            <td>{{todo.priority}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.date}}</td>
            <td>
              <button onclick="window.location.href='complete/{{todo.id}}'" type="button"
                class="btn btn-success">Complete</button>
              <button onclick="window.location.href='edit-todo/{{todo.id}}'" type="button" class="btn btn-info">
                More
              </button>
            </td>
          </tr>

          {% else %}
          <tr class="pointer alert alert-success">

            <td>{{todo.priority}}</td>
            <td class="strike-through-td">{{todo.title}}</td>
            <td>{{todo.date}}</td>
            <td>
              <button onclick="window.location.href='complete/{{todo.id}}'" type="button" class="btn btn-success">Undo
              </button>
              <button onclick="window.location.href='edit-todo/{{todo.id}}'" type="button" class="btn btn-info">
                Edit
              </button>
            </td>
          </tr>

          {% endif %}
          {% endfor %}

        </tbody>
      </table>

      <a href="add-todo" class="btn btn-primary">Add ToDo</a>
    </div>
  </div>
</div>