{% include 'base.html' %}

<div class="container">
    <div style="max-width:450px;margin:auto;" class="card">
        <div class="card-header">Reset password</div>
        <div class="card-body">
            {% if msg %}
            {% if msg == "Password sucessfully updated" %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endif %}
            <form method="POST" action="/auth/reset-password/?reset_token={{ reset_token }}">
                <div class="form-group">
                    <label></label>
                    <input type="password" class="form-control" name="new_password" placeholder="New Password" required
                        autofocus>
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>